---
import Button from "../../components/pages/button.astro";
import Mokup from "../../components/pages/mokup.astro";
import News from "../../components/pages/news.astro";
import Progress from "../../components/pages/progress.astro";
import BaseLayout from "../../layouts/baseLayout.astro";
---

<BaseLayout>
  <main
    class="relative grid flex-grow grid-cols-1 gap-32 py-16 text-emerald-100 md:px-14 lg:grid-cols-2 lg:gap-16 xl:leading-snug"
  >
    <section class="px-6 sm:px-12 md:m-8 md:px-16 lg:m-0">
      <h1 class="text-center text-emerald-200">Easy to use game Engine</h1>
      <p class="pt-8">
        Misa is a small and easy to use 2D game engine designed for quick and
        simple game development.
      </p>
      <ul class="pt-8 *:ml-4 *:pt-2">
        <li>Based on Typescript</li>
        <li>Build for Desktop and HTML5</li>
        <li>Great for small and simple games</li>
      </ul>
      <p class="pt-6">Easy and simple doesn’t mean incapable</p>
      <p class="pt-2">You can read more in our docs</p>
      <Button
        link="./intro/intro"
        name="Read here!"
        class="ml-auto mt-4 block w-40 pr-8 text-sm lg:w-48"
        arrow
      />
    </section>
    <section class="flex flex-col items-center px-12 pb-8 lg:justify-end">
      <h1 class="text-center text-emerald-200">Wide range of examples!</h1>
      <p class="pt-8">
        WebGPU based. if your browser doesnt support webGPU examples will be
        desplayed as gifs/images and not interactive.
      </p>

      <p class="pt-6">
        You can see what Misa is capable of in example section!
      </p>
      <Button
        link="./examples/aurora"
        name="More here!"
        class="mt-4 block w-40 pr-8 text-sm lg:w-48"
        arrow
      />
    </section>
    <News />
    <Progress lang="en" />
    <Mokup lang="en" />
  </main>
</BaseLayout>
