---

---

<div class="flex flex-col max-w-[30rem] mb-24">
  <div
    class="w-full flex gap-0 overflow-x-scroll *:flex-shrink-0 *:bg-label *:w-28 *:p-3 *:px-4 *:bg-contain *:bg-no-repeat *:bg-center *:bg-transparent *:font-pixel *:text-xs *:text-slate-200"
  >
    <button>Aurora </button>
    <button>NaviGPU </button>
    <button>Dogma </button>
    <button>Engine</button>
    <button>Stary</button>
  </div>
  <div class="bg-pattern bg-[#39363E] rounded-b-lg h-60 overflow-y-scroll">
    <p class="pt-4 pl-4 text-2xl">Aurora</p>
    <p class="p-4 text-base">
      WebGPU based rederer capable of gret things. Build In atcher to handle all
      you needs like lights and post-processing WebGPU based rederer capable of
      gret things. Build In atcher to handle all you needs like lights and
      post-processing WebGPU based rederer capable of gret things. Build In
      atcher to handle all you needs like lights and post-processing WebGPU
      based rederer capable of gret things. Build In atcher to handle all you
      needs like lights and post-processing WebGPU based rederer capable of gret
      things. Build In atcher to handle all you needs like lights and
      post-processing
    </p>
  </div>
</div>
