---
import { Image } from "astro:assets";
import file from "../../assets/pages/file.png";
interface Props {
  fileName: string;
  path: string;
}
const { fileName, path } = Astro.props;
---

<a href={path} class="grid text-center no-underline">
  <Image src={file} alt="folder" class="h-12 w-12 justify-self-center" />
  <p
    class="overflow-hidden text-ellipsis whitespace-nowrap px-2 text-lg text-slate-200"
  >
    {fileName}
  </p>
</a>
