---
import { Image } from "astro:assets";
import arrow from "../../assets/pages/arrow.png";
import { getCurrentPath } from "../../utils/staticPath";
interface Props {
  class?: string;
}
const { class: added } = Astro.props;
const { path, lang } = getCurrentPath(Astro.url);

const langs = {
  EN: "/en/" + path,
  PL: "/pl/" + path,
};
---

<label
  for="languagePicker"
  class={`absolute lg:relative mr-4 flex items-center gap-1 text-slate-200 lg:top-auto lg:right-auto lg:left-auto lg:bottom-auto ${added}`}
>
  <span class="selectDefault"></span>
  <select
    id="languagePicker"
    class="b-0 w-14 cursor-pointer appearance-none text-ellipsis bg-transparent p-1 font-pixel text-sm text-inherit *:bg-[#262c49]"
  >
    {
      Object.entries(langs).map(([key, value]) => (
        <option value={value} selected={lang === "pl"}>
          {key}
        </option>
      ))
    }
  </select>
  <Image
    src={arrow}
    alt="ArrowPick"
    width={20}
    class={"self-center rotate-90 absolute right-0 pointer-events-none"}
  />
</label>

<script>
  import { navigate } from "astro:transitions/client";
  const select = document.querySelector("select");
  if (select)
    select.onchange = (ev) => navigate((ev.target as HTMLSelectElement).value);
</script>
