---
import logo from "../../assets/logos/logo-dark.png";
import { Image } from "astro:assets";
---

<div class="flex m-0 pl-4 text-2xl text-slate-100">
  <p class="self-center">Misa</p>
  <Image src={logo} alt="logo" width={60} />
  <p class="self-center">Misa</p>
</div>
