---
import logo from "../../assets/logos/logo-dark.png";
import { Image } from "astro:assets";
import { getCurrentPath } from "../../utils/staticPath";
const { lang } = getCurrentPath(Astro.url);
---

<a
  href={`/${lang}/`}
  id="logo"
  class="z-10 m-0 flex pl-4 text-xl text-slate-100 no-underline md:gap-4 md:text-2xl lg:gap-0"
>
  <p class="hidden self-center lg:block">Misa</p>
  <Image src={logo} alt="logo" class={"w-24 h-24 lg:w-16 lg:h-16"} />
  <p class="self-center">Misa</p>
</a>
