---
import { Image } from "astro:assets";
import arrow from "../../assets/pages/arrow.png";
interface Props {
  mobile?: boolean;
}
const { mobile = false } = Astro.props;
const isVisible = mobile
  ? "block md:hidden"
  : "hidden md:block absolute right-6 top-6";
---

<div class={`text-base md:text-xs text-slate-100 ${isVisible}`}>
  <p>New Docs!</p>
  <div class="mt-2 flex items-center justify-center gap-2 lg:justify-normal">
    <p class="">Aurora renderer</p>
    <Image src={arrow} alt="post background" class={"w-8 h-8 md:w-4 md:h-4"} />
  </div>
</div>
