---
import ProgressBar from "./progressBar.astro";

interface Props {
  mobile?: boolean;
}
const { mobile = false } = Astro.props;
const isVisible = mobile
  ? "absolute bottom-20 left-1/2 -translate-x-1/2 w-fit md:hidden text-slate-200"
  : "hidden md:block absolute left-6 bottom-6";
---

<div class={isVisible}>
  <p class="text-nowrap pb-2">Progess to V:0.01A</p>
  <ProgressBar
    percent={60}
    trackClass={mobile ? "bg-slate-600" : "bg-transparent"}
    thumbClass="text-slate-200"
  />
</div>
