---
import { getCollection } from "astro:content";
import { getFolderPaths } from "../../../../../utils/staticPath";
import BaseLayout from "../../../../../layouts/baseLayout.astro";
import Browser from "../../../../../components/pages/browser.astro";
import Demo from "../../../../../components/pages/demo.astro";

export async function getStaticPaths() {
  return await getFolderPaths();
}
const { folder } = Astro.params;
const files = await getCollection(
  "demos",
  ({ slug }) => slug.startsWith("pl") && slug.includes(folder as string)
);
---

<BaseLayout>
  <section
    class="my-8 flex w-5/6 flex-grow items-center justify-center self-center justify-self-center"
  >
    <Browser class="lg:w-full lg:max-w-full">
      <div>
        {
          files.map(({ data, slug }) => {
            const url = slug.split("/").splice(2).join("/");
            return <Demo path={`./${url}`} fileName={data.title} />;
          })
        }
      </div>
    </Browser>
  </section>
</BaseLayout>
