---
import Browser from "../../components/pages/browser.astro";
import Button from "../../components/pages/button.astro";
import News from "../../components/pages/news.astro";
import Progress from "../../components/pages/progress.astro";
import BaseLayout from "../../layouts/baseLayout.astro";
import "../../styles/pagesStyle.css";
---

<BaseLayout>
  <main
    class="relative grid flex-grow grid-cols-1 gap-32 py-16 text-emerald-100 md:px-14 lg:grid-cols-2 lg:gap-16 xl:leading-snug"
  >
    <section class="px-6 sm:px-12 md:m-8 md:px-16 lg:m-0">
      <h1 class="text-center text-emerald-200">Easy to use game Engine</h1>
      <p class="pt-8">
        Misa is a small and easy to use 2D game engine designed for quick and
        simple game development.
      </p>
      <ul class="pt-8 *:ml-4 *:pt-2">
        <li>Based on Typescript</li>
        <li>Build for Desktop and HTML5</li>
        <li>Great for small and simple games</li>
      </ul>
      <p class="pt-6">Easy and simple doesn’t mean incapable</p>
      <p class="pt-2">You can read more in our docs</p>
      <Button
        link=""
        name="Read here!"
        class="ml-auto mt-4 block w-40 pr-8 text-sm lg:w-48"
        arrow
      />
    </section>
    <section class="flex items-center md:justify-center lg:items-end">
      <Browser class="hidden md:block" />
      <!-- <div class="grid gap-16 text-slate-200 md:hidden">
        {
          features.map((feature) => (
            <div>
              <h2 class="w-full py-4 text-center backdrop-brightness-75">
                {feature.name}
              </h2>
              <p class="p-6">{feature.desc}</p>
            </div>
          ))
        }
      </div> -->
      <div class="flex w-screen flex-col md:hidden">
        <div
          class="flex w-full gap-0 overflow-y-auto *:w-28 *:flex-shrink-0 *:bg-transparent *:bg-label *:bg-contain *:bg-center *:bg-no-repeat *:p-3 *:px-4 *:font-pixel *:text-xs *:text-slate-200"
        >
          <button>Aurora </button>
          <button>NaviGPU </button>
          <button>Dogma </button>
          <button>Engine</button>
        </div>
        <div class="h-80 overflow-y-auto">
          <p class="pl-4 pt-4 text-center text-2xl">Aurora</p>
          <p class="p-4 text-sm">
            WebGPU based rederer capable of gret things. Build In atcher to
            handle all you needs like lights and post-processing WebGPU based
            rederer capable of gret things. Build In atcher to handle all you
            needs like lights and post-processing WebGPU based rederer capable
            of gret things. Build In atcher to handle all you needs like lights
            and post-processing WebGPU based rederer capable of gret things.
            Build In atcher to handle all you needs like lights and
            post-processing WebGPU based rederer capable of gret things. Build
            In atcher to handle all you needs like lights and post-processing
          </p>
        </div>
      </div>
    </section>
    <!-- https://github.com/nunatass/animated-gradients -->
    <News />
    <Progress />
  </main>
</BaseLayout>
