---
import Button from "../../components/pages/button.astro";
import Mokup from "../../components/pages/mokup.astro";
import News from "../../components/pages/news.astro";
import Progress from "../../components/pages/progress.astro";
import BaseLayout from "../../layouts/baseLayout.astro";
---

<BaseLayout>
  <main
    class="relative grid flex-grow grid-cols-1 gap-32 py-16 text-emerald-100 md:px-14 lg:grid-cols-2 lg:gap-16 xl:leading-snug"
  >
    <section class="px-6 sm:px-12 md:m-8 md:px-16 lg:m-0">
      <h1 class="text-center text-emerald-200">
        Prosty w obsłudze silnik gier!
      </h1>
      <p class="pt-8">
        Misa to mały oraz prosty w użyciu silnik do szybkiego tworzenia prostych
        gier 2D
      </p>
      <ul class="pt-8 *:ml-4 *:pt-2">
        <li>Bazowany na Typescript</li>
        <li>Zbudowany dla aplikacji Desktopowych oraz HTML5</li>
        <li>Idealny do małych i prostych gier</li>
      </ul>
      <p class="pt-6">Mały i prosty nie znaczy jednak że wybrakowany!</p>
      <p class="pt-2">Możesz dowiedzieć sie wiecej w naszej dokumentacji</p>
      <Button
        link="./pl/intro/intro"
        name="Wiecej!"
        class="ml-auto mt-4 block w-40 pr-8 text-sm lg:w-48"
        arrow
      />
    </section>
    <section class="flex flex-col items-center px-12 pb-8 lg:justify-end">
      <h1 class="text-center text-emerald-200">Pełna lista przykładów!</h1>
      <p class="pt-8">
        Oparte na WebGPU. Jeśli twoja przegladarka nie wspiera tej technologii
        zamiast interaktywnych przykładów wyświetlone zostana gify lub zdjęcia.
      </p>

      <p class="pt-6">
        Możesz zobaczyć co potrafi Misa w naszej sekcji przykładów tutaj:
      </p>
      <Button
        link="./pl/examples/aurora"
        name="Wiecej!"
        class="mt-4 block w-40 pr-8 text-sm lg:w-48"
        arrow
      />
    </section>
    <News />
    <Progress lang="pl" />
    <Mokup lang="pl" />
  </main>
</BaseLayout>
