---
import { getEntry } from "astro:content";
import {
  getCurrentPath,
  getDemoPaths,
} from "../../../../../../utils/staticPath";
import { assert } from "../../../../../../utils/assert";
import BaseLayout from "../../../../../../layouts/baseLayout.astro";
import ExplorerDesktop from "../../../../../../components/pages/explorerDesktop.astro";
import ExplorerMobile from "../../../../../../components/pages/explorerMobile.astro";
import DemoFrame from "../../../../../../components/pages/demoFrame.astro";

export async function getStaticPaths() {
  return await getDemoPaths();
}

const { lang, path } = getCurrentPath(Astro.url, ["examples"]);
const url = `${lang}/${path}`;
const entry = await getEntry("demos", url);
assert(entry);
const { Content } = await entry!.render();
---

<BaseLayout>
  <section
    class="flex w-full flex-grow flex-col items-center self-center justify-self-center md:justify-center"
  >
    <ExplorerDesktop>
      <div class="relative h-full w-full px-6 py-4 text-white">
        <Content />
        <DemoFrame demoName={entry.data.demo} />
        <br />
      </div>
    </ExplorerDesktop>
    <ExplorerMobile>
      <div class="h-full w-full px-6 text-white">
        <Content />
        <p>NOTE!: Interactive Demos are not avalible on mobile</p>
        <br />
      </div>
    </ExplorerMobile>
  </section>
</BaseLayout>
