---
import { getEntry } from "astro:content";
import {
  getCurrentPath,
  getDemoPaths,
} from "../../../../../../utils/staticPath";
import { assert } from "../../../../../../utils/assert";
import BaseLayout from "../../../../../../layouts/baseLayout.astro";
import ExplorerDesktop from "../../../../../../components/pages/explorerDesktop.astro";
import ExplorerMobile from "../../../../../../components/pages/explorerMobile.astro";

export async function getStaticPaths() {
  return await getDemoPaths();
}
let isTranslated = true;
const { lang, path } = getCurrentPath(Astro.url, ["examples"]);
const url = `${lang}/${path}`;
let entry = await getEntry("demos", url);
if (!entry) {
  isTranslated = false;

  entry = await getEntry("demos", `pl/${path}`);
}
assert(entry);
const { Content } = await entry!.render();
---

<BaseLayout>
  <section
    class="flex w-full flex-grow flex-col items-center self-center justify-self-center md:justify-center"
  >
    <ExplorerDesktop>
      <div>
        <Content />
      </div>
    </ExplorerDesktop>
    <ExplorerMobile>
      <div>
        <Content />
      </div>
    </ExplorerMobile>
  </section>
</BaseLayout>
